*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.video_wrapper{
	position: relative;
	overflow: hidden;
	z-index: 2147483647 !important;
}
video{
	padding: 10px;
	text-align: center;
	background: #131313;
	height: 90vh;
	width: 100%;
}
video.fullscreen{
	height: 100%;
}
.vid_controls{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	background: #000;
	color: #fff;
	padding: 5px;
	font-size: 1.3em;
	transition: 0.4s;
}
.vid_controls.hide{
	bottom: -50px;
}
.vid_tracks, .vid_play_pause, .vid_current_time, .vid_full_time, .vid_fullscreen, .vid_mute{
	margin: 0 5px;
	cursor: pointer;
}
.vid_tracks{
	width: 100%;
	height: 10px;
	position: relative;
	border-radius: 5px;
}
.vid_track_all{
	background: #999;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	border-radius: 5px;
	z-index: 18;
}
.vid_track_current{
	background: #2c1ed5;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	border-radius: 5px;
	z-index: 20;
	pointer-events: none;
}
.vid_track_load{
	background: #717171;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	border-radius: 5px;
	z-index: 19;
	pointer-events: none;
}